.root {
    position: relative;
    width: 100%;
    height: 100%;
    align-items: flex-start;
    flex-direction: column;
}

.logoFooter {
    position: relative;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 10px;
    width: max-content;
    align-items: flex-start;
}

.socialLinks {
    margin: auto;
    margin-top: 5px;
    flex-direction: row;
    width: max-content;
}

.socialIcon {
    position: relative;
    margin-left: 17px;
    width: 68px;
    height: 68px;
}

.instaIcon {
    height: 100%;
    width: 100%;
    background-image:/* webpackIgnore: true */ url('/assets/instaIcon.jpg');
    border-radius: 90px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.tgIcon {
    width: 100%;
    height: 100%;
    background-image:/* webpackIgnore: true */ url('/assets/tgIcon.jpg');
    border-radius: 90px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.vkIcon {
    width: 100%;
    height: 100%;
    background-image:/* webpackIgnore: true */ url('/assets/vkIcon.jpg');
    border-radius: 90px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

hr {
    width: 90%;
    height: 3px;
    margin: 0 auto;
    background-color: #bfe6bf;
}