
.logoHeader {
    position: relative;
    left: 10px;
    margin-top: 18px;
}

.root {
    width: 100%;
    overflow: hidden;
}

.navigationLinks {
    position: absolute;
    right: 20px;
}


.navigation {
    color: #009d00;
    font-size: 25px;
    font-weight: 500;
    font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
    letter-spacing: -0.015em;
    position: relative;
    margin: 20px 20px 0;
    width: min-content;
    height: min-content;
    text-align: center;
    align-items: center;
    white-space: nowrap;
    flex-direction: column;
}