.root {
  position: absolute;
  left: 840px;
  top: 0;
  width: 840px;
  height: 960px;
  align-items: flex-start;
}
.rectangle {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: visible;
}
.cardIcon {
  width: 100%;
  height: 100%;
}
