.root {
  position: absolute;
}

.joinTodayButton {
  border-radius: 6px;
  background-color: #009d00;
  color: #fff;
  font-size: 26px;
  letter-spacing: -0.015em;
  font-weight: 500;
  font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
  'Liberation Sans', sans-serif;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: max-content;
  padding: 20px;
}
