.sampleLogo.sampleLogo {
  left: 0;
  top: 13px;
  width: 83px;
}
.photo {
  color: #000;
  font-size: 28.4444px;
  font-family: Comfortaa, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.015em;
  position: absolute;
  left: 28.1553%;
  right: 0%;
  top: 0;
  bottom: 0;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.footerC {
  position: absolute;
  left: 57px;
  top: 2935px;
  width: 1680px;
  height: 356px;
  align-items: flex-start;
  background-color: #fff;
  overflow: hidden;
}
.PhotoInc2019WeLoveOurUsers {
  color: #000c;
  font-size: 15px;
  line-height: 24px;
  font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.015em;
  position: absolute;
  left: 689px;
  top: 357px;
  width: 301px;
  height: 24px;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
._69bbc51c918f70d3c0a485e8e5e1fd {
  position: absolute;
  left: 806px;
  top: 283px;
  width: 68px;
  height: 68px;
  border-radius: 90px;
  background-image:/* webpackIgnore: true */ url('/assets/_69bbc51c918f70d3c0a485e8e5e1fd.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
._8e3ad14f128756f074046f1d3633dc {
  position: absolute;
  left: 664px;
  top: 283px;
  width: 68px;
  height: 68px;
  border-radius: 45px;
  background-image:/* webpackIgnore: true */ url('/assets/_8e3ad14f128756f074046f1d3633dc.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.logoFooter {
  position: absolute;
  left: 686px;
  top: 187px;
  width: 239px;
  height: 55px;
  align-items: flex-start;
}
.unnamed {
  color: #000;
  font-size: 28.4444px;
  font-family: Comfortaa, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.015em;
  position: absolute;
  left: 0;
  right: 75.0112%;
  top: 23.6364%;
  bottom: 18.1818%;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.unnamed2 {
  color: #000;
  font-size: 28.4444px;
  font-family: Comfortaa, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.015em;
  position: absolute;
  left: 40.4939%;
  right: 0;
  top: 23.6364%;
  bottom: 18.1818%;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.rectangle {
  position: absolute;
  left: 78px;
  top: 153px;
  width: 1520px;
  height: 3px;
  background-color: #bfe6bf;
}
._74b56a833667a6f88689ea5092e299 {
  position: absolute;
  left: 948px;
  top: 283px;
  width: 68px;
  height: 68px;
  border-radius: 90px;
  background-image:/* webpackIgnore: true */ url('/assets/_74b56a833667a6f88689ea5092e299.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bodyE {
  position: absolute;
  left: 0;
  top: 1840px;
  width: 1680px;
  height: 882px;
  align-items: flex-start;
  background-color: #fff;
  overflow: hidden;
}
.bodyB {
  position: absolute;
  left: -1px;
  top: 892px;
  width: 1680px;
  height: 948px;
  align-items: flex-start;
  background-color: #fff;
  overflow: hidden;
}
.stock_vector_abstract_blue_smo {
  transform-origin: top left;
  position: absolute;
  left: 241.7714px;
  top: 1083.4308px;
  width: 888px;
  height: 281px;
  background-image:/* webpackIgnore: true */ url('/assets/stock_vector_abstract_blue_smo.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(2px);
  transform: matrix(-0.4226, -0.9063, 0.9063, -0.4226, 0, 0);
}
.stock_vector_abstract_blue_smo2 {
  transform-origin: top left;
  position: absolute;
  left: 1844.9575px;
  top: 251.7557px;
  width: 888px;
  height: 281px;
  background-image:/* webpackIgnore: true */ url('/assets/stock_vector_abstract_blue_smo2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(2px);
  transform: matrix(-0.4226, 0.9063, -0.9063, -0.4226, 0, 0);
}

.root {
  position: relative;
  width: 100%;
  height: 3325px;
  align-items: flex-start;
  background-color: #fff;
  overflow: hidden;
  flex-direction: column;
}

.navigationHeader {
  width: 100%;
  height: 2%;
  overflow: hidden;
}

.logoFrame {
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 5px;
}

.logo {
  width: 45px;
  height: 45px;
  border-radius: 178px;
  background-image:/* webpackIgnore: true */ url('/assets/logo.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.logoText {
  color: #000;
  font-size: 32px;
  font-family: Comfortaa, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.015em;
  text-align: center;
  align-items: center;
  justify-content: center;
  text-shadow: 0 4px 4px #00000040;
  flex-direction: column;
}

.followBlock {
  position: relative;
  width: 100%;
  height: 960px;
  align-items: flex-start;
  background-color: #fff;
  overflow: hidden;
}

.ellipse.ellipse {
  left: 914px;
  top: 273px;
  width: 44px;
  height: 44px;
  transform: initial;
}

.followText {
  left: 25%;
  top: 110px;
  width: 50%;
  height: 145px;
  color: #475447;
  font-size: 56px;
  line-height: 80px;
  font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
  'Liberation Sans', sans-serif;
  letter-spacing: -0.015em;
  position: absolute;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

.button.button {
  left: 44%;
  top: 430px;
  width: 25%;
  height: 52px;
}
