.sampleLogo.sampleLogo {
  left: 0;
  top: 13px;
  width: 83px;
}
.photo {
  color: #000;
  font-size: 28.4444px;
  font-family: Comfortaa, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.015em;
  position: absolute;
  left: 28.1553%;
  right: 0%;
  top: 0;
  bottom: 0;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.PhotoInc2019WeLoveOurUsers {
  color: #000c;
  font-size: 15px;
  line-height: 24px;
  font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.015em;
  position: absolute;
  left: 689px;
  top: 357px;
  width: 301px;
  height: 24px;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.cardIcon {
  color: #000;
  font-size: 28.4444px;
  font-family: Comfortaa, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.015em;
  position: absolute;
  left: 0;
  right: 75.0112%;
  top: 23.6364%;
  bottom: 18.1818%;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.cardTitle {
  color: #000;
  font-size: 28.4444px;
  font-family: Comfortaa, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.015em;
  position: absolute;
  left: 40.4939%;
  right: 0;
  top: 23.6364%;
  bottom: 18.1818%;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.bodyE {
  position: absolute;
  left: 0;
  top: 1840px;
  width: 1680px;
  height: 882px;
  align-items: flex-start;
  background-color: #fff;
  overflow: hidden;
}




.root {
  position: relative;
  width: 100%;
  height: 3325px;
  align-items: flex-start;
  background-color: #fff;
  overflow: hidden;
  flex-direction: column;
}

.logoFrame {
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 5px;
}

.logo {
  width: 45px;
  height: 45px;
  border-radius: 178px;
  background-image:/* webpackIgnore: true */ url('/assets/logo.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.logoText {
  color: #000;
  font-size: 32px;
  font-family: Comfortaa, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.015em;
  text-align: center;
  align-items: center;
  justify-content: center;
  text-shadow: 0 4px 4px #00000040;
  flex-direction: column;
}

.followBlock {
  position: relative;
  width: 100%;
  height: 900px;
  align-items: flex-start;
  overflow: hidden;
}

.followText {
  left: 25%;
  top: 110px;
  width: 50%;
  height: 145px;
  color: #475447;
  font-size: 56px;
  line-height: 80px;
  font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
  'Liberation Sans', sans-serif;
  letter-spacing: -0.015em;
  position: absolute;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

.button.button {
  left: 44%;
  top: 430px;
  width: 25%;
  height: 52px;
}

.platformBlock {
  position: relative;
  width: 100%;
  height: 928px;
  align-items: flex-start;
  flex-direction: row;
  overflow: hidden;
}

.spiral {
  position: relative;
  width: 888px;
  height: 281px;
  margin-top: 210px;
  margin-left: -270px;
  background-image:/* webpackIgnore: true */ url('/assets/spiral.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(2px);
  transform: matrix(-0.4226, -0.9063, 0.9063, -0.4226, 0, 0);
}

.spiral2 {
  position: relative;
  width: 888px;
  height: 281px;
  margin-top: 210px;
  margin-left: 29%;
  background-image:/* webpackIgnore: true */ url('/assets/spiral.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(2px);
  transform: matrix(-0.4226, 0.9063, -0.9063, -0.4226, 0, 0);
}

.linksFooter {
  position: absolute;
  top: 3165px;
  width: 100%;
  height: 160px;
  align-items: flex-start;
  background-color: #fff;
  overflow: hidden;
}
