.root {
  position: absolute;
  left: 5292px;
  top: 94px;
  width: 122.0741px;
  height: 32px;
  align-items: flex-start;
}
.photo {
  color: #000;
  font-size: 28.4444px;
  font-family: Comfortaa, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.015em;
  position: absolute;
  left: 28.1553%;
  right: 0%;
  top: 0;
  bottom: 0;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.union {
  position: absolute;
  left: 0px;
  top: 2.963px;
  width: 22.5185px;
  height: 22.5185px;
  overflow: visible;
}
.icon {
  width: 100%;
  height: 100%;
}
.union2 {
  position: absolute;
  left: 0px;
  top: 2.963px;
  width: 22.5185px;
  height: 22.5185px;
  overflow: visible;
}
.icon2 {
  width: 100%;
  height: 100%;
}
