.root {
  position: relative;
  width: 100%;
  height: 960px;
  align-items: flex-start;
  overflow: hidden;
}

.ellipse {
  position: relative;
  left: -18%;
  top: 110px;
  width: 39%;
  height: 648px;
  overflow: visible;
}

.ellipse2 {
  position: absolute;
  left: 82%;
  top: 110px;
  width: 39%;
  height: 648px;
  overflow: visible;
}

.imageLovePlanet {
  position: absolute;
  left: 76%;
  top: 273px;
  width: 15%;
  height: 425px;
  background-image:/* webpackIgnore: true */ url('/assets/imageRemovebgPreview11.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.imageZeroWaste {
  position: absolute;
  left: 7%;
  top: 329px;
  width: 21%;
  height: 453px;
  background-image:/* webpackIgnore: true */ url('/assets/imageRemovebgPreview61.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
